/*---- import fonts -------*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
/*---- create root elements ------*/
:root{
    /*---colors----*/
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
    /*----font-family-----*/
    --ManropeFont: 'Manrope';
}
/*-----reset-css---------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: inherit;
}
html { 
    font-size: 62.5%;
 } 
a{
    text-decoration: none;
}
body{
    font-size: 1.3rem;
    font-family: var(--ManropeFont), sans-serif;
    background-color: var(--LightGrayishBlue);
    height: 100vh;
    display: grid;
    place-items: center;
    overflow-y: hidden;
}
.wrapper{
    max-width: 144rem;
    padding-right: 2rem;
    padding-left: 2rem;
    
}
.article{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 0 5px 50px -30px #9eafc2, 5px 0 20px -20px #9eafc2;
    width: 32rem;
    margin-right: auto;
    margin-left: auto;
}

.article-img{
    background-image: url(/images/drawers.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
    background-size: cover;
    background-position: 0 -1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.article-content{
    padding: 4rem 4rem 1.6rem;
}
.article-header{
    color: var(--VeryDarkGrayishBlue);
    margin-bottom: 2rem;
}
.article-description{
    color: var(--GrayishBlue);
    margin-bottom: 3.2rem;
} 

footer{
    display: grid;
    grid-template-columns: 6rem 60% 1fr;
    align-items: center;
}
.author-img{
    margin-right: 2rem;
}
.author-img img{
    height: 4rem;
    width: 4rem;
    border-radius: 5rem;
}
.author-name{
    color: var(--VeryDarkGrayishBlue);
    font-weight: 700;
}
.author-date{
    color: var(--GrayishBlue);
}
.author-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.share{
    background-color: var(--LightGrayishBlue);
    border-radius: 5rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
    height: 3rem;
    width: 3rem;
}

.share-social{
    position: absolute;
    bottom: 0;
    height: 7.2rem;
    background-color: var(--VeryDarkGrayishBlue);
    box-shadow: 0 5px 10px -5px #9eafc2, 5px 0 10px -5px #9eafc2;
    display: grid;
    grid-template-columns: 10rem 16.8rem;
    align-items: center;
    width: 100%;
    padding: 1rem 4rem;
    opacity: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.share-social span{
    color: var(--GrayishBlue);
    text-transform: uppercase;
    letter-spacing: 0.8rem;
}
.icons{
    display: flex;
}
.icons a{
    color: #ffffff;
    font-family: var(--ManropeFont);
    font-size: 2rem;
    margin-right: 1.5rem;
}
.display-social{
    animation-name: slideUpMobile;
    animation-duration: 0.5s;
    opacity: 1;
}
.dark-bg{
    background-color: var(--DesaturatedDarkBlue);
    color: #ffffff;
}
@media (min-width: 950px){
    .article{
        flex-direction: row;
        width: 72rem
    }
    .article-img{
        flex-basis: 40%;
        height: auto;
        background-position: 0 center;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }
    .article-content{
        flex-basis: 60%;
    }
    .share-social{
        width: 25rem;
        border-radius: 1rem;
        bottom: 7rem;
        left: 53rem;
        height: fit-content;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
       
    }
    .share-social::before{
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        left: 50%;
        bottom: -5%;
        background-color: var(--VeryDarkGrayishBlue);
        transform: rotate(45deg);
    }
    .display-social{
        animation-name: slideUpDesktop;
        animation-duration: 0.5s;
        opacity: 1;
    }
    .icons a:last-child{
        margin-right: 0;
    }
}
@keyframes slideUpMobile {
    from {height: 0;}
    to {height: 7.2rem}
}
@keyframes slideUpDesktop {
    from {height: 0;}
    to {height: 5rem}
}
